<component name="ArtifactManager">
  <artifact type="war" name="SpringSecurityExam:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="secure-exam.war">
      <element id="artifact" artifact-name="SpringSecurityExam:war exploded" />
    </root>
  </artifact>
</component>