<component name="ArtifactManager">
  <artifact type="war" name="SpringMVClogin:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVClogin-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVClogin:war exploded" />
    </root>
  </artifact>
</component>